@page
@model chartsModal
@{
    ViewData["Title"] = "Home page";
}

<div id="page-content">

    <div class="row">
        <!-- BEGIN BREADCRUMB -->
        <div class="col-md-12">
            <div class="breadcrumb-box border shadow">
                <ul class="breadcrumb">
                    <li><a id="ttlPage" href="#">Charts</a></li>
                </ul>
                <div class="breadcrumb-right">

                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>
                    <i class="icon-calendar"></i>
                </div><!-- /.breadcrumb-right -->
            </div><!-- /.breadcrumb-box -->
        </div><!-- /.col-md-12 -->
        <!-- END BREADCRUMB -->
    </div>


    <div class="row">

        <div class=" col-md-6  col-12">
            <div class="form-group">
                <label>Start Date</label>
                <div class="input-group">

                    <span class="input-group-addon" onclick="show_Picker3()">
                        <i class="icon-calendar"></i>
                    </span>
                    <input id="txtStartDate" value=@Model.fromDate  type="date" min="2022-01-01" max="2099-12-31" class="form-control" placeholder="Start Date" onfocus="this.showPicker()" required>
                </div><!-- /.input-group -->
            </div><!-- /.form-group -->
        </div>

        <div class=" col-md-6  col-12">
            <div class="form-group">
                <label>End Date</label>
                <div class="input-group">

                    <span class="input-group-addon" onclick="show_Picker4()">
                        <i class="icon-calendar"></i>
                    </span>
                    <input id="txtEndDate" type="date"  value=@Model.toDate  min="2022-01-01" max="2099-12-31" class="form-control" placeholder="End Date" onfocus="this.showPicker()" required>
                </div><!-- /.input-group -->
            </div><!-- /.form-group -->
        </div>



        <div class="col-md-6 col-12">

            <div class="form-group">
                <label>Customer</label>
                <div class="input-group">

                    @if (@ViewData["Role"].ToString() == "Customer")
                    {
                        <select class="form-control select2 curve" id="cmbCustomerName" style="width:100% !important" disabled>

                            @{

                                foreach (MyCustomer m in Model.myCoustomers)
                                {

                                    <option value=@m.Id>@m.UserName</option>
                                }

                            }


                        </select>

                    }

                    else
                    {
                        <select class="form-control select2 curve" id="cmbCustomerName" style="width:100% !important">

                            @{

                                foreach (MyCustomer m in Model.myCoustomers)
                                {

                                    <option value=@m.Id>@m.UserName</option>
                                }

                            }


                        </select>
                    }

                </div><!-- /.input-group -->
            </div><!-- /.form-group -->
        </div>

        <div class="col-md-6 col-12">

            <div class="form-group">
                <label>Building</label>
                <div class="input-group">
                    <select class="form-control select2 curve" id="cmbBuildingName" style="width:100% !important" multiple>

                        @*@{

                            foreach (MyBuildings m in Model.myBuildings)
                            {

                                <option value=@m.Id>@m.BuildingName</option>
                            }

                        }*@


                    </select>
                </div><!-- /.input-group -->
            </div><!-- /.form-group -->
        </div>

        <div class="col-md-6 col-12">

            <div class="form-group">
                <label>Sensor Type</label>
                <div class="input-group">
                    <select class="form-control select2 curve" id="cmbSensorT" style="width:100% !important">
                       
                        
                        
                        
                        <option value="1">Temprature</option>
                        <option value="2">Torsion</option>
                        <option value="3">Failure</option>
                        <option value="4">Wind Speed</option>
                        <option value="5">Pressure</option>
                        <option value="6">Strain</option>
                        <option value="7">Bending</option>
                        <option value="8">Camera</option>
                    </select>
                </div><!-- /.input-group -->
            </div><!-- /.form-group -->
        </div>

        <div class="col-md-6 col-12">

            <div class="form-group">
                <label>Sensor Serial</label>
                <div class="input-group">
                    <select class="form-control select2 curve" id="cmbSerial" style="width:100% !important" multiple>

                        @*@{

                            foreach (Sensors m in Model.mySerials)
                            {

                                <option value=@m.Id>@m.Serial</option>
                            }

                        }*@


                    </select>
                </div><!-- /.input-group -->
            </div><!-- /.form-group -->
        </div>

        <!--<div class="col-md-6 col-12">
    <div class="form-group">
        <label>Serial</label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Serial" id="txtSerial" required>
        </div>-->
        <!-- /.input-group -->
        <!--</div>--><!-- /.form-group -->
        <!--</div>-->



        <div class="col-12">

            <button id="btnSensorSave" type="button" class="btn btn-success btn-curve">
                <i class="icon-check"></i>
                Draw
            </button>

        </div>


    </div>

    <div class="row mt-3">
        <div class="col-lg-12 ">
            <div class="portlet box border shadow">
                <div class="portlet-body">
                    <canvas id="line2" class="min-height-300"></canvas>
                </div><!-- /.portlet-body -->


            </div>

        </div>
    </div>
</div>
<style>
    .error, .has-error + .help-block, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #f55145;
    }
</style>

<link href="~/assets/plugins/data-table/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/assets/plugins/data-table/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
@section Scripts
{
    <script src="~/assets/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/plugins/select2/dist/js/i18n/fa.js"></script>
    <script src="~/assets/js/pages/select2.js"></script>

    <script src="~/assets/plugins/data-table/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/data-table/js/dataTables.buttons.min.js"></script>
  
    <script src="~/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/js/pages/validation.js"></script>
   
    <script src="~/assets/js/Chart.min.js"></script>
    <script src="~/assets/js/mychart.js?v21"></script>
}

<script>




   

</script>
